# inteli J setting
.idea/

# gradle 설정 (각 pc가 알아서 다운)
.gradle/
gradle/
build/

# 배포시 생성되는 파일
bin/

#npm의 nodule 기록삭제
hansoyeon/node_modules/

.idea/dbnavigator.xml
application.properties
application.yml

*.lock
*.bin
